<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hoá đơn</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/new-task']">
        <ion-icon slot="start" name="add"></ion-icon>
        Thêm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item
        *ngFor="let item of items"
        [routerLink]="['/details', item.payload.doc.id]"
      >
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image" />
        </ion-thumbnail>
        <ion-label>{{ item.payload.doc.data().title }}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Hiện không có hoá đơn nào.
  </div>
</ion-content>
